.container { 
    width:100%;
}

.left {
    float:left;
    width:100px;
}

.right {
    float:right;
    width:100px;
}

.center {
    margin:0 auto;
    width:100px;
} 

#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}