.wheel, .wheel_umbrella, .wheel_color, .wheel_label {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  width: 80px;
  height: 80px; }

.wheel {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 5px; }

.wheel_umbrella {
  position: relative;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

.wheel_color, .wheel_color:nth-child(n+7):after {
  clip: rect(0, 80px, 80px, 40px); }

.wheel_color:after, .wheel_color:nth-child(n+7) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
  clip: rect(0, 40px, 80px, 0); }

.wheel_color:nth-child(1):after {
  background-color: #9C5E87;
  transform: rotate(30deg);
  z-index: 12; }

.wheel_color:nth-child(2):after {
  background-color: #9A5BA2;
  transform: rotate(60deg);
  z-index: 11; }

.wheel_color:nth-child(3):after {
  background-color: #7B59A8;
  transform: rotate(90deg);
  z-index: 10; }

.wheel_color:nth-child(4):after {
  background-color: #5658AE;
  transform: rotate(120deg);
  z-index: 9; }

.wheel_color:nth-child(5):after {
  background-color: #5181B4;
  transform: rotate(150deg);
  z-index: 8; }

.wheel_color:nth-child(6):after {
  background-color: #4EB3BA;
  transform: rotate(180deg);
  z-index: 7; }

.wheel_color:nth-child(7):after {
  background-color: #4AC3BA;
  transform: rotate(180deg); }

.wheel_color:nth-child(8):after {
  background-color: #45C75A;
  transform: rotate(210deg); }

.wheel_color:nth-child(9):after {
  background-color: #69CD40;
  transform: rotate(240deg); }

.wheel_color:nth-child(10):after {
  background-color: #ACD33A;
  transform: rotate(270deg); }

.wheel_color:nth-child(11):after {
  background-color: #D9B934;
  transform: rotate(300deg); }

.wheel_color:nth-child(12):after {
  background-color: #E06C2E;
  transform: rotate(330deg); }

.wheel_container {
  width: 100px;
  float: left;
  display: inline-block; }

.wheel_label {
  font-size: 5em;
  font-family: 'Nothing You Could Do';
  color: #FF0000;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  z-index: 13;
  margin-left: 40px;
  margin-top: 0%; }

.wheel_clear {
  clear: both; }

.playground_container {
  margin: 0 auto; }

.left_block {
  display: inline-block;
  width: 0%;
  height: 600px;
  background: #ddd;
  vertical-align: top;
  padding: 10px; }

.right_block {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  height: 600px; }

.editor_toolbar {
  display: block;
  width: 100%;
  background: white;
  border: 1px solid gray;
  text-align: center;
  margin-bottom: 10px;
  position: relative; }

.editor_toolbar_button, .editor_toolbar_button:hover {
  display: block;
  width: 150px;
  height: 1.25em;
  font-size: 1.25em;
  font-family: monospace;
  text-align: center;
  color: #A00000;
  border: none;
  background: #ddd;
  margin: 5px; }

.editor_toolbar_button:hover {
  color: #FF0000;
  background: #eee; }

.input_editor_instance, .result_editor_instance {
  display: inline-block;
  width: 50%;
  min-height: 600px; }

ul.tabs_labels {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333; }

li.tabs_labels_item {
  float: left; }

li.tabs_labels_item a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none; }

li.tabs_labels_item a:hover {
  background-color: #111111; }

/*# sourceMappingURL=playground.css.map */
